@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/jf_font.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/fixes.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/fixes_new.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/base.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/accentlist.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/rounding.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/smallercast.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/episodelist/episodes_compactlist.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/header/header_transparent-dashboard.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/login/login_minimalistic.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/fields/fields_noborder.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/cornerindicator/indicator_floating.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/type/light.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/titlepage/title_simple.css');
@import url('https://ariel-inacio.github.io/Jellyfin-theme/Ultrachromic-main/progress/floating.css');
:root {--rounding: 12px;}

/*Style backdrop*/
.backdropImage {
  filter: blur(22px) saturate(95%) contrast(15%) brightness(155%);
}